@import url("css/font/stylesheet.css");
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Gilroy;
  font-size: 1rem;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #fafafa;
  padding: 2.2em 2.2em;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  margin-right: 5em;
}
header nav {
  width: 20.6em;
}
@media screen and (min-width: 391px) {
  .checkbtn,
  .btn,
  .header-wrap label {
    display: none;
  }
}
.nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.gift-finder {
  width: 8.74em;
  border: 1px solid #f7941e;
  border-radius: 5px;
  color: #f7941e;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.5em;
}

.features {
  background-color: #f1f1f2;
}

.features-info,
.features-work {
  display: flex;
}

.features-desc,
.features-img {
  width: 50%;
}

.features-img img {
  display: block;
}

.features .content {
  width: 400px;
  margin: auto;
}

.features .features-desc {
  display: flex;
  align-items: center;
}

.features-title {
  font-size: 3.5em;
  font-weight: 600;
}

.features-subtitle {
  font-size: 2em;
  font-weight: 400;
}
.features-desc p {
  font-size: 1.25em;
  text-align: justify;
}
.features .find-gift {
  width: 12.5em;
  height: 3.75em;
  line-height: 3.75em;
  margin-top: 3.4em;
  border: 1px solid #f7941e;
  border-radius: 5px;
  color: #f7941e;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
}

.learn-more-btn {
  width: 200px;
  border: 1px solid #f7941e;
  border-radius: 5px;
  color: #f7941e;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  margin-top: 40px;
  transition: 0.2s;
}

.gift-finder:hover,
.find-gift:hover,
.learn-more-btn:hover {
  background-color: #f7941e;
  color: #f1f1f2;
  cursor: pointer;
}

.wrap {
  max-width: 1170px;
  margin: auto;
  padding: 5% 0;
}

.title {
  font-size: 2em;
  font-weight: 400;
}
.subtitle {
  font-size: 1.125em;
  font-weight: 300;
}

.occasion-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}

.occasions .title,
.occasions .subtitle {
  text-align: center;
}

.cards-item {
  width: 270px;
  background-color: #fafafa;
  transition: 0.3s;
}

.cards-item:hover {
  background-color: #fff;
  box-shadow: -12px 10px 15px 0px #0000004a;
}
.card-desc {
  padding: 24px;
}
.occasion-cards .see-more {
  margin-top: 75px;
  font-size: 0.875em;
}

.cta {
  background-color: #f7941e;
}

.cta .wrap {
  padding: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta-action {
  width: 415px;
}
.cta-buttons {
  display: flex;
  justify-content: space-between;
}

.cta-buttons div {
  width: 12.5em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #231f20;
  color: #fff;
  border: 1px solid #231f20;
  transition: 0.2s;
}
.btn-primary:hover {
  background-color: #e6e6e6;
  color: #231f20;
  cursor: pointer;
  border: 0px;
  box-shadow: -12px 10px 15px 0px #0000004a;
}

.btn-secondary {
  border: 1px solid black;
}
.btn-secondary:hover {
  background-color: #e6e6e6;
  color: #231f20;
  cursor: pointer;
  border: 0px;
  box-shadow: -12px 10px 15px 0px #0000004a;
}

.cta h3,
p {
  font-size: 2em;
  margin: 3px;
}

.blog-head {
  text-align: center;
}

.blog-head p {
  font-size: 1.125em;
}

.blog-content {
  display: flex;
  margin: 4.4em 4.4em 0;
  background-color: #231f20;
  color: #f1f1f2;
}
.blog-img img {
  display: block;
  width: 25em;
}
.blog-author {
  font-size: 0.875em;
}

.blog-content .title {
  font-weight: 400;
  font-size: 3em;
  padding-top: 27px;
  padding-bottom: 60px;
}

.blog-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 78px;
  margin-right: 100px;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
}

.blog-footer .first-block,
.second-block {
  width: 570px;
  height: 290px;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}

.blog-footer .first-block:hover,
.second-block:hover {
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
}
.block-name {
  font-size: 1.5em;
  font-weight: 700;
}
.blog-footer .subtitle {
  font-size: 1.5em;
  font-weight: 400;
}

.block-content {
  padding: 3em;
}
.blog-footer .block-desc {
  padding-top: 16px;
  padding-bottom: 37px;
}
hr {
  width: 100%;
}

footer {
  background-color: #fafafa;
}

.line {
  margin: 57px;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.nav-wrap {
  width: 600px;
  display: flex;
  justify-content: space-around;
}

.nav-wrap .nav {
  width: 160px;
  display: flex;
}

.footer-logo {
  width: 200px;
  display: flex;
  justify-content: center;
}

footer img {
  width: 40px;
}

.links-wrap {
  display: flex;
  justify-content: center;
}

footer .links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
}

footer a {
  font-weight: 700;
}

.credits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.credits h5 {
  width: 120px;
  font-weight: 400;
}

footer .wrap {
  padding-bottom: 0px;
}

@media screen and (max-width: 1025px) {
  body {
    font-size: 0.8rem;
  }

  .occasion-cards {
    justify-content: space-evenly;
  }
  .cards-item {
    width: 20%;
  }
}

@media screen and (max-width: 769px) {
  body {
    font-size: 0.6rem;
  }
  .features .content {
    width: 70%;
  }

  .cta h3,
  p {
    margin: 3px;
  }
  .cta-action {
    width: 54%;
  }
  .cta-buttons div {
    justify-content: space-evenly;
  }

  .features .find-gift,
  .learn-more-btn {
    width: 50%;
    height: 0%;
    line-height: 3.25em;
    margin-top: 10%;
  }
  .cta-buttons {
    justify-content: space-evenly;
  }
  .cta .wrap {
    padding: 4%;
  }
  .block-content {
    margin: 70px 70px 0;
  }
}

@media screen and (max-width: 391px) {
  body {
    font-size: 0.5rem;
  }
  .btn {
    width: 2rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  .checkbtn {
    display: block;
  }

  #check {
    display: none;
  }
  header .logo {
    margin: 0;
  }

  .features-title {
    font-size: 2.2em;
  }
  .nav {
    display: none;
  }
  .gift-finder {
    display: none;
  }

  .features-info,
  .features-work {
    flex-wrap: wrap;
    font-size: 1rem;
  }
  .features-work {
    flex-direction: column-reverse;
  }
  .features-desc {
    margin: 4em 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .features-desc,
  .features-img {
    width: 100%;
  }
  .wrap {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .occasion-cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .cards-item {
    width: 43%;
    margin-bottom: 4%;
  }
  .cta-buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 10rem;
    margin-top: 1rem;
  }
  .cta-buttons div {
    height: 3rem;
  }
  .blog-head {
    margin: 3rem 3rem;
  }
  .blog-content {
    flex-wrap: wrap;
  }
  .blog-info {
    margin: 5.5rem 2rem;
  }
  .blog-footer {
    flex-wrap: wrap;
  }
  .blog-footer .first-block,
  .second-block {
    width: 100%;
    margin: 1rem;
  }
  .block-content {
    margin: 0;
    padding: 22px 5px;
  }
  .blog-footer .subtitle {
    font-size: 1rem;
  }
  .nav-wrap,
  .footer-logo {
    width: auto;
  }
  .line {
    margin: 1rem;
  }
  .line hr {
    width: 20rem;
  }
  .credits {
    margin: auto;
  }
}
